@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .not-found {
    height: calc(100vh - 110px);
    @apply bg-center bg-cover bg-no-repeat;
  }
  .container {
    @apply px-5 xl:px-0;
  }
  .hero-img {
    @apply xl:w-[600px] lg:w-[500px] w-[400px];
  }
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 400px;
  }
  section {
    flex-grow: 1;
  }
  .center {
    @apply grid place-items-center;
  }

  .location-btn:hover ~ .location-info {
    display: flex ;
    opacity: 1 !important;
  }
  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #93ce03;
  }

  .st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #83c805;
  }

  .st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #abdb06;
  }

  .st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #a1d606;
  }
  .st4 {
    fill: #93ce03;
  }
  .pac-man {
    border-radius: 50%;
    margin: 0 auto;
    border-radius: 100em 100em 0 0;
    background: #f00;
    transform-origin: bottom;
    -webkit-animation: eating-top 0.5s infinite;
    animation: eating-top 0.5s infinite;
  }
  .pac-man,
  .pac-man::before {
    width: 70px;
    height: calc(70px / 2);
    background: #93ce03;
  }
  .pac-man::before {
    content: "";
    display: block;
    margin-top: calc(70px / 2);
    position: absolute;
    transform-origin: top;
    border-radius: 0 0 100em 100em;
    transform: rotate(80deg);
    -webkit-animation: eating-bottom 0.5s infinite;
    animation: eating-bottom 0.5s infinite;
  }
  .pac-man::after {
    position: absolute;
    border-radius: 100em;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    margin-top: calc((70px / 2) - 10px);
    margin-left: calc((70px / 2) - 10px);
    transform-origin: center;
    -webkit-animation: center 0.5s infinite, ball 0.5s -0.33s infinite linear;
    animation: center 0.5s infinite, ball 0.5s -0.33s infinite linear;
  }
  @-webkit-keyframes eating-top {
    0% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
  @keyframes eating-top {
    0% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
  @-webkit-keyframes eating-bottom {
    0% {
      transform: rotate(80deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(80deg);
    }
  }
  @keyframes eating-bottom {
    0% {
      transform: rotate(80deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(80deg);
    }
  }
  @-webkit-keyframes center {
    0% {
      transform: rotate(40deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }
  @keyframes center {
    0% {
      transform: rotate(40deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }
  @-webkit-keyframes ball {
    0% {
      opacity: 0.7;
      box-shadow: 70px 0 0 0 #93ce03, 120px 0 0 0 #93ce03, 170px 0 0 0 #93ce03,
        220px 0 0 0 #93ce03;
    }
    100% {
      box-shadow: 20px 0 0 0 #93ce03, 70px 0 0 0 #93ce03, 120px 0 0 0 #93ce03,
        170px 0 0 0 #93ce03;
    }
  }
  @keyframes ball {
    0% {
      opacity: 0.7;
      box-shadow: 70px 0 0 0 #93ce03, 120px 0 0 0 #93ce03, 170px 0 0 0 #93ce03,
        220px 0 0 0 #93ce03;
    }
    100% {
      box-shadow: 20px 0 0 0 #93ce03, 70px 0 0 0 #93ce03, 120px 0 0 0 #93ce03,
        170px 0 0 0 #93ce03;
    }
  }
}
